.info-bubble-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-bubble-wrapper {
  position: absolute;
  right: 0;
  top: -23px;
  font-size: 1rem;
  color: white;
  letter-spacing: normal;
}

.info-content-wrapper {
  position: absolute;
  background: #f2545b;
  padding: 10px 20px;
  border-radius: 0px;
  border-top-right-radius: 0;
  display: none;
  z-index: 20;
  right: 100%;
  width: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 100;
}
.info-content-edges-wrapper {
  position: absolute;
  background: var(--gradient-left);
  padding: 10px 20px;
  border-radius: 0px;
  display: none;
  z-index: 20;
  right: -85px;
  width: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 100;
}
.mid-pointer {
  content: "";
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: solid 10px #f2545b;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

/* .mid-pointer{
  display: none;
  width: 0px;
  height: 0px;
  border-style: solid;
  margin: auto;
  
   border-width: 15px 5px 0px 5px;
  border-color:#f2545b transparent transparent transparent;
  line-height: 0px;
} */

.info-bubble-wrapper:hover .info-content-wrapper {
  display: block;
}
.info-bubble-wrapper:hover .info-content-edges-wrapper {
  display: block;
}
.info-bubble-wrapper:hover .mid-pointer {
  display: block;
}

.info-material-icon {
  font-size: 1.3rem !important;

  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 100, "opsz" 24;
  cursor: pointer;
}
.info-material-icon-conversion {
  font-size: 1.3rem !important;
  background-color: #f2545b;
  border-radius: 0px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 100, "opsz" 24;
  cursor: pointer;
}
